

@font-face {
    font-family: "monogram";
    src: url("/assets/monogram-extended.ttf") format('truetype');
}

body {
    image-rendering: pixelated;
}

input {
    font: inherit;
    color: inherit;
}
:focus {
    outline: 2px solid #fff6;
    outline-radius: 0px;
}

.success {
    color: #46A639;
}
.error {
    color: #a73939;
}
.info {
    color: #cbce46;
}

.flash {
    animation: jello-vertical 3.6s infinite;
}

a {
    color: inherit;
    text-decoration: none;
}

.hidden, .hidden *, .hidden * *, .hidden * * * {
    visibility: hidden !important;
}

.thumbs-up {
    background: url("/assets/browse/thumbs_up_out.png");
    background-size: 2em 2em;
    width: 2em;
    height: 2em;
}
.thumbs-up:active, .thumbs-up.selected {
    background: url("/assets/browse/thumbs_up_in.png");
    background-size: 2em 2em;
}
.thumbs-down {
    background: url("/assets/browse/thumbs_down_out.png");
    background-size: 2em 2em;
    width: 2em;
    height: 2em;
}
.thumbs-down:active, .thumbs-down.selected {
    background: url("/assets/browse/thumbs_down_in.png");
    background-size: 2em 2em;
}

::-webkit-scrollbar {
    width: 16px;
}

a,
button,
.level-entry,
::-webkit-scrollbar:hover,
.thumbs-up,
.thumbs-down,
input[type="button"],
input[type="submit"],
.close-popup,
.dropdown .selected,
.dropdown .options .dropdown-option,
.pointercursor
{
    cursor: url('/assets/pointerCursor.png'), auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
.textcursor
textarea {
    cursor: url('/assets/textCursor.png'), auto !important;
}

.outset {
    box-sizing: border-box;
}
.outset,
input[type="button"],
input[type="submit"],
.button,
button,
::-webkit-scrollbar-thumb,
.dropdown .selected,
.dropdown .options 
{
    border: 4px solid transparent;
    border-top-color: #48565E;
    border-left-color: #48565E;
    border-right-color: #0D252D;
    border-bottom-color: #0D252D;
    background: radial-gradient(farthest-corner at 0px 0px, #253B47 0%, #1F313B 100%);
}

.inset {
    box-sizing: border-box;
}

.inset,
input[type="button"]:active,
input[type="submit"]:active,
.button:active,
button:active,
input[type="text"],
input[type="password"],
input[type="email"],
::-webkit-scrollbar-track
{
    border: 4px solid transparent;
    border-top-color: #0D252D;
    border-left-color: #0D252D;
    border-right-color: #48565E;
    border-bottom-color: #48565E;
    background: radial-gradient(farthest-corner at 0px 0px, #1F313B 0%, #253B47 100%);
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="submit"][disabled],
button[disabled] {
    backdrop-filter: grayscale(1);
    filter: grayscale(1);
}

a.button {
    text-decoration: inherit;
    color: inherit;
    font: inherit;
}

.center-center-align {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none !important;
    position: absolute;
    left: 0px;
    top: 0px;
}

.popup {
    color: #fff;
    
    min-width: 300px;
    min-height: 4em;
    max-width: 50vw;
    width: fit-content;
    height: fit-content;
    
    box-sizing: border-box;
    pointer-events: all;

    display: grid;
    grid-auto-rows: max-content;
    padding: 0.5em;
    gap: 0.5em;
}
@keyframes open-popup {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
.popup:not(.hidden) {
    animation: open-popup;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

#transition-fade {
    position: absolute;
    top: 0px;
    left: 0px;

    transform: translateY(-100vh);
    
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: linear-gradient(to bottom, #151515, #111);
    border-bottom: 4px solid #333;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 16px;
    align-items: center;

    box-sizing: border-box;


    z-index: 1000;
}
#transition-fade::after {
    content: "Loading...";
    color: white;
    font-size: 5vw;
}
#transition-fade.activate {
    transition: transform 0.25s ease-out;
    transform: translateY(0vh);
}



/* .dropdown {
    font: 16px Arial, sans-serif;
    color: #000;
}
.dropdown .selected {
    cursor: pointer;
    background: #eee;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 0.2em;
    height: min-content;

    box-sizing: border-box;
}
.dropdown .selected:hover {
    background: #ddd;
}
.dropdown .options {
    background: #eee;
    z-index: 100;
    border: 1px solid #444;
    border-radius: 4px;
}
.dropdown .options .dropdown-option {
    cursor: pointer;
    padding: 0.1em;
    user-select: none;
}
.dropdown .options .dropdown-option:hover {
    background: #ddd;
} */

.dropdown .selected {
    padding: 0.1em;
    padding-top: 0px;
}

.dropdown .selected::before {
    z-index: 171;
    background-size: 100%;
    height: 56px;
    width: 56px;
    content: "";
}
.dropdown[data-open="false"] .selected::before {
    background: url("/assets/menu/dropdown_closed.png");
}
.dropdown[data-open="true"] .selected::before {
    background: url("/assets/menu/dropdown_opened.png");
}

.dropdown .options {
    box-sizing: border-box;
    box-shadow: 0px 2px 8px #0004;
    z-index: 100;
}
.dropdown[data-open="false"] .options {
    height: 0px;
    overflow: hidden;
    border: none;
}
.dropdown .options .dropdown-option {
    padding: 0.1em;
    padding-top: 0px;
    user-select: none;
}
.dropdown .options .dropdown-option:hover {
    background: #0002;
}


.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underlined {
    text-decoration: underline;
}


/* Animations */
@keyframes jello-vertical {
    0% {transform: scale3d(1, 1, 1);}
    7.5% {transform: scale3d(0.75, 1.25, 1);}
    10% {transform: scale3d(1.25, 0.75, 1);}
    12.5% {transform: scale3d(0.85, 1.15, 1);}
    16.25% {transform: scale3d(1.05, 0.95, 1);}
    18.75% {transform: scale3d(0.95, 1.05, 1);}
    25% {transform: scale3d(1, 1, 1);}
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
    font: inherit !important;
}
input[data-autocompleted] {
    background-color: transparent !important;
    font: inherit !important;
}

#install-desktop-app {
    background: #8a2828;
    border: 2px solid #7c1d1d;
    border-radius: 4px;

    font: 16px Arial, sans-serif;
    color: #e19494;
    
    position: fixed;
    bottom: 4px;
    right: 4px;

    z-index: 100;
    
    box-sizing: border-box;
}
#install-desktop-app h2 {
    font-weight: normal;
    font-size: 1.5em;

    margin: 0.25em;
}
#install-desktop-app button {
    background: transparent;
    border: inherit;
    border-radius: 4px;

    font: inherit;
    
    color: inherit;
    margin: 0.25em;
    padding: 2px;

    width: calc(100% - 8px);

    box-sizing: border-box;
}
#install-desktop-app button:active {
    background: #0002;
}