@import url("/globals.css");

@font-face {
    font-family: "monogram";
    src: url("/assets/monogram-extended.ttf") format('truetype');
}

* {
    cursor: url('/assets/basicCursor.png'), auto;
}

html {
    font: 40px "monogram", arial, sans-serif;
}
body {
    margin: 0px;
    overflow: hidden;
    user-select: none;
}
img {
    image-rendering: pixelated;
}
canvas {
    position: absolute;
    image-rendering: pixelated;
    margin: 0px;
    padding: 0px;
    cursor: url('/assets/basicCursor.png'), auto;
}
.hidden * {
    visibility: hidden !important;
}
*:disabled {
    filter: saturate(0.5);
}

input, button, textarea {
    font: inherit;
    color: inherit;
    resize: none;
}
button[disabled] {
    pointer-events: none;
}
input[type="text"], textarea {
    cursor: url('/assets/textCursor.png'), auto;
}

.menu-icon {
    width: 3em;
    height: 3em;
}
.menu-icon:hover {
    filter: brightness(0.9);
}
.menu-icon:active {
    filter: brightness(0.7);
}
.menu-icon:not(.static) > img, input[type="button"] {
    cursor: url('/assets/pointerCursor.png'), auto;
}
.menu-icon.static:hover {
    filter: brightness(1);
}
.menu-icon.static:active {
    filter: brightness(1);
}
.menu-icon > img {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#overlay {
    font-size: 16px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    pointer-events: none;
}
#overlay > * {
    pointer-events: all;
    position: absolute;
}

#editor-bar-bottom {
    width: 100%;
    bottom: 0px;
    left: 0px;

    display: grid;
    grid-template-columns: max-content 1fr;
    
    gap: 0.25em;
    padding: 0.25em;
}
#editor-block-groups {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    
    gap: 0.25em;
    padding: 0.25em;
}
#editor-blocks {
    display: grid;
}
#editor-blocks > div {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 0.25em;
    padding: 0.25em;

    grid-area: 1 / 1 / 2 / 2;
}
#editor-selected-block {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0.25em;
}
#editor-selection-tools {
    top: 4em;

    display: grid;
    grid-auto-rows: max-content;

    padding: 0.25em;
    gap: 0.25em;
}

#selection-hint {
    font-size: 0.5rem;
    bottom: calc(var(--ui-scale) * 22px);
    color: #ffffff;
    padding: 0.05rem 0.2rem;
    padding-bottom: 0.2rem;
}
#editor-menu-items {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;

    gap: 0.25em;
    padding: 0.25em;
}
#editor-menu-items > div {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;

    gap: 0.25em;
    padding: 0.25em;
}
#editor-menu-items > div > div {
    margin: 1px;
}
#editor-playtesting-menu {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0.25em;
}



.center-align {
    width: 100%;
    top: 0px;
    
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;

    pointer-events: none !important;
}
.center-align > * {
    pointer-events: all;
}

/* Popups */
.popup .title-bar {
    width: 100%;
    
    display: grid;
    grid-template-columns: 2em 1fr 2em;
}
.popup .close-popup {
    width: 2em;
    height: 2em;
}
.popup h1, .popup h2 {
    margin: 0px;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-weight: 500;
}
.popup h1 {
    font-size: 1.5rem;
}
.popup h2 {
    font-size: 1rem;
}

.popup > img {
    align-self: center;
    justify-self: center;
    
    width: 6em;
    height: 6em;
    margin: 2em;
}
.popup > form {
    display: grid;
    grid-auto-rows: max-content;
    gap: 0.5em;
}
.popup input, .popup textearea, .popup button, .popup textarea {
    font-size: 1rem;
}

.popup > .popup-options {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;

    
}


#save-popup {
    width: 600px;
}
#level-id:before {
    content: "Level ID: "
}
#loading-editor-bg {
    background: #111d;
    pointer-events: all !impt;
}