@import url("/globals.css");

@keyframes pan {
    0% {
        background-position: right -32px bottom -32px;
    }
    100% {
        background-position: right 32px bottom 32px;
    }
}

.hidden, .hidden * {
    visibility: hidden;
    display: none;
    width: 0px;
}

@keyframes new {
    0% {
        transform: scale(1) rotate(0deg);
        filter: brightness(1);
    }
    10% {
        transform: scale(1.05) rotate(0deg);
        filter: brightness(1.2);
    }
    14% {
        transform: scale(1.05) rotate(5deg);
        filter: brightness(1.5);
    }
    18% {
        transform: scale(1.05) rotate(-5deg);
        filter: brightness(1.5);
    }
    22% {
        transform: scale(1.05) rotate(5deg);
        filter: brightness(1.5);
    }
    26% {
        transform: scale(1.05) rotate(-5deg);
        filter: brightness(1.5);
    }
    30% {
        transform: scale(1.05) rotate(0deg);
        filter: brightness(1.2);
    }
    40% {
        transform: scale(1) rotate(0deg);
        filter: brightness(1);
    }
    100% {
        transform: none;
        filter: none;
    }
}

::-webkit-scrollbar {
  width: 16px;
}

html {
    background: url("/assets/background.png");
    animation: pan 0.75s linear;
    animation-iteration-count: infinite;
    background-size: 64px 64px;
    image-rendering: pixelated;
    width: 100vw;
    height: 100vh;
    
    padding: 24px;
    box-sizing: border-box;
    cursor: url('/assets/basicCursor.png'), auto;
}

body {
    width: 100%;
    height: 100%;

    display: grid;
    padding: 4px;
    grid-template-rows: min-content 1fr;
    
    font: 40px "monogram", arial, sans-serif;
    color: #fff;
}
#level-list {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0px;
    padding: 4px;
    
    box-sizing: border-box;
    list-style: none;
    
    overflow-y: auto;
    overflow-x: hidden;
}
#level-list > li {
    width: 100%;
    height: max(64px, fit-content);
    
    padding-bottom: 4px;
}
#level-list-header {
    grid-area: 1 / 1 / 2 / 2;
    padding: 4px;

    display: grid;
    grid-template-columns: min-content min-content 1fr min-content;
}
#level-list-header > .dropdown {
    grid-area: 1 / 4 / 2 / 5;
    align-self: center;
    
    width: 256px;
}
#level-list-header > h1 {
    font-weight: normal;
    margin: 0px;
    margin-top: -0.1em;
}
#level-list-header > .close-popup {
    margin: 0px;
    margin-right: 24px;
    align-self: center;
}


.level-entry {
    height: 100%;
    padding: 4px;
    box-sizing: border-box;
    padding-bottom: 0.5rem;
    user-select: none;
    display: flex;
    flex-direction: row;
}
.level-entry.new {
    animation: 3s linear 1s infinite new;
}
.level-entry.unplayed > .text > .title::after {
    content: "*";
    color: #888;
}
.level-entry:hover {
    filter: brightness(0.9);
}

.level-entry > .difficulty {
    width: 48px;
    height: 48px;
    margin: 6px;
    margin-right: 8px;
}

.level-entry > .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.level-entry > .text > .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.9em;
}
.level-entry > .text > .stats {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    color: #ccc;
    font-size: 0.6em;
}
@media screen and (max-width: 1300px) {
    .level-entry > .text > .stats > .author::before {
        content: "";
    }
    .level-entry > .text > .stats > .likes::after {
        content: "";
    }
}


.author::before {
    content: "By "
}

.likes::after {
    content: " Likes";
}
.inflate {
    flex-grow: 1;
}

.selected-level {
    grid-area: 1 / 1 / 3 / 2;
    
    flex-grow: 1;
    padding: 4px;

    display: grid;
    
    grid-template-rows: min-content min-content 1fr min-content min-content;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    
    user-select: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;


    overflow-x: hidden;
    overflow-y: auto;
}
.selected-level > .title,
.selected-level > .description,
.selected-level > .stats,
.selected-level > .date-published,
.selected-level > .ratings > .like-buttons {
    padding: 1rem;
    box-sizing: border-box;
}

.selected-level > .title {
/*     row start, col start, row end, col end */
    grid-area: 1 / 1 / 2 / 3;
    
    font-size: 2em;
    text-align: center;

    height: min-content;
}

.selected-level > .description {
/*     row start, col start, row end, col end */
    grid-area: 2 / 1 / 4 / 2;

    overflow: auto;
}
.selected-level > .stats {
/*     row start, col start, row end, col end */
    grid-area: 2 / 2 / 3 / 3;
    
    text-align: center;

    display: grid;
    grid-template-rows: repeat(3, min-content) auto min-content;
    grid-template-columns: 1fr;
    
    font-size: 1.5em;
}
.selected-level > .date-published {
/*     row start, col start, row end, col end */
    grid-area: 5 / 1 / 6 / 2;
}


.selected-level > .ratings {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: min-content auto min-content auto;
    
/*     row start, col start, row end, col end */
    grid-area: 4 / 1 / 5 / 2;

    padding: 1ch;
    padding-top: 0.5ch;
}
.selected-level > .comments {
/*     row start, col start, row end, col end */
    grid-area: 3 / 2 / 6 / 3;
    width: 100%;
    height: 100%;

    overflow: hidden;
}
.difficulty {
    display: grid;
    grid-template-columns: min-content min-content;
/*     row start, col start, row end, col end */
    grid-area: 1 / 3 / 3 / 4;

    align-items: center;
    font-size: 1.5em;
}
.difficulty-rating {
    display: grid;
    grid-template-columns: repeat(7, min-content);
/*     row start, col start, row end, col end */
    grid-area: 3 / 3 / 4 / 4;
    place-self: center;

    gap: 16px;
}

/* if screen is less than 1220px wide use layout 2 */
@media screen and (max-width: 1220px) {
    .selected-level {
        grid-template-rows: min-content minmax(8em, auto) min-content min-content 12em min-content;
        grid-template-columns: 1fr;
    }
    
    .selected-level > .title {
    /*     row start, col start, row end, col end */
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .selected-level > .description {
    /*     row start, col start, row end, col end */
        grid-area: 2 / 1 / 3 / 2;

        height: 100%;
    }
    .selected-level > .stats {
    /*     row start, col start, row end, col end */
        grid-area: 3 / 1 / 4 / 2;
    }
    .selected-level > .ratings {
    /*     row start, col start, row end, col end */
        grid-area: 4 / 1 / 5 / 2;
    }
    .selected-level > .comments {
    /*     row start, col start, row end, col end */
        grid-area: 5 / 1 / 6 / 2;
    }
    .selected-level > .date-published {
    /*     row start, col start, row end, col end */
        grid-area: 6 / 1 / 7 / 2;
    }
}

.selected-level > .stats > * {
    margin-bottom: 16px;
}
.difficulty > span {
    margin-top: -0.1em;
}
.difficulty-rating > img {
    width: 48px;
    height: 48px;
}


.ratings > .likes {
/*     row start, col start, row end, col end */
    grid-area: 2 / 1 / 3 / 2;

    white-space: nowrap;
}
.thumbs-up {
/*     row start, col start, row end, col end */
    grid-area: 1 / 1 / 2 / 2;
    place-self: center;
}
.thumbs-down {
/*     row start, col start, row end, col end */
    grid-area: 3 / 1 / 4 / 2;
    place-self: center;
}
.difficulty > img {
    width: 64px;
    height: 64px;
    margin-right: 12px;
}
.stats > .id {
    font-size: 0.5em;
    color: #888;
    text-align: right;
}
.stats > .id::before {
    content: "Id: "
}
.close-popup {
/*     row start, col start, row end, col end */
    grid-area: 1 / 1 / 2 / 2;
    z-index: 10;
    width: 48px;
    height: 48px;
    margin: 8px;
}
.close-popup > img {
    width: 100%;
    height: 100%;
}

#play-current-level {
    color: inherit;
    font: inherit;
    padding: 0.25em;

    width: 100%;
    box-sizing: border-box;
}